@import '~antd/dist/antd.css';
.App {
  text-align: center;
  background-color: #848a90;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(105, 83, 83);

}
body{
  background:linear-gradient(to left, rgb(149, 151, 160), rgb(5, 1, 33));
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:rgb(194, 174, 174);
}
img {
  margin-right: auto;
  display: block;
  float:right;
 }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2 {text-align: center;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
